<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946398625283-bsv9j0i9tid83bj7fm5ra60vgfrdiklk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946398625283-bsv9j0i9tid83bj7fm5ra60vgfrdiklk</string>
	<key>API_KEY</key>
	<string>AIzaSyCGN8mof_eu1677tjqGJ1ql8DNomqq2G4w</string>
	<key>GCM_SENDER_ID</key>
	<string>946398625283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nus.orbitalapp</string>
	<key>PROJECT_ID</key>
	<string>orbitalapp-17184</string>
	<key>STORAGE_BUCKET</key>
	<string>orbitalapp-17184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946398625283:ios:3e8050ce28db735e461836</string>
</dict>
</plist>